<footer id="footer" class="fixed">

  <div class="footer-copyright">
    <div class="container">
      <ul class="social-icons">
        <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
        <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
        <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
      </ul>

      <ul class="footer-menu">
        <li>(+404) 158 14 25 78</li>
        <li><a href="#">Blog</a></li>
      </ul>
      <img alt="Payments" src="assets/img/demos/shop/payments.png" class="footer-payment">
      <p class="copyright-text">© Copyright 2017. All Rights Reserved.</p>
    </div>
  </div>
</footer>