<div class="mobile-nav">
  <div class="mobile-nav-wrapper">
    <ul class="mobile-side-menu">
      <li><a href="demo-shop-1.html">Home</a></li>
      <li>
        <span class="mmenu-toggle"></span>
        <a href="#">Fashion <span class="tip tip-new">New</span></a>

        <ul>
          <li>
            <span class="mmenu-toggle"></span>
            <a href="#">Women</a>
            <ul>
              <li>
                <a href="#">Tops &amp; Blouses</a>
              </li>
              <li>
                <a href="#">Accessories</a>
              </li>
              <li>
                <a href="#">Dresses &amp; Skirts</a>
              </li>
              <li>
                <a href="#">Shoes &amp; Boots</a>
              </li>
            </ul>
          </li>
          <li>
            <span class="mmenu-toggle"></span>
            <a href="#">Men</a>

            <ul>
              <li>
                <a href="#">Accessories</a>
              </li>
              <li>
                <a href="#">Watch &amp; Fashion <span class="tip tip-new">New</span></a>
              </li>
              <li>
                <a href="#">Tees, Knits &amp; Polos</a>
              </li>
              <li>
                <a href="#">Pants &amp; Denim</a>
              </li>
            </ul>
          </li>
          <li>
            <span class="mmenu-toggle"></span>
            <a href="#">Jewellery <span class="tip tip-hot">Hot</span></a>

            <ul>
              <li>
                <a href="#">Sweaters</a>
              </li>
              <li>
                <a href="#">Heels &amp; Sandals</a>
              </li>
              <li>
                <a href="#">Jeans &amp; Shorts</a>
              </li>
            </ul>
          </li>
          <li>
            <span class="mmenu-toggle"></span>
            <a href="#">Kids Fashion</a>

            <ul>
              <li>
                <a href="#">Casual Shoes</a>
              </li>
              <li>
                <a href="#">Spring &amp; Autumn</a>
              </li>
              <li>
                <a href="#">Winter Sneakers</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <span class="mmenu-toggle"></span>
        <a href="#">Pages <span class="tip tip-hot">Hot!</span></a>

        <ul>
          <li>
            <span class="mmenu-toggle"></span>
            <a href="#">Category</a>
            <ul>
              <li>
                <a href="demo-shop-1-category-2col.html">2 Columns</a>
              </li>
              <li>
                <a href="demo-shop-1-category-3col.html">3 Columns</a>
              </li>
              <li>
                <a href="demo-shop-1-category-4col.html">4 Columns</a>
              </li>
              <li>
                <a href="demo-shop-1-category-5col.html">5 Columns</a>
              </li>
              <li>
                <a href="demo-shop-1-category-6col.html">6 Columns</a>
              </li>
              <li>
                <a href="demo-shop-1-category-7col.html">7 Columns</a>
              </li>
              <li>
                <a href="demo-shop-1-category-8col.html">8 Columns</a>
              </li>
              <li>
                <a href="demo-shop-1-category-right-sidebar.html">Right Sidebar</a>
              </li>
              <li>
                <a href="demo-shop-1-category-list.html">Category List</a>
              </li>
            </ul>
          </li>
          <li>
            <span class="mmenu-toggle"></span>
            <a href="#">Category Banners</a>
            <ul>
              <li>
                <a href="demo-shop-1-category-banner-boxed-slider.html">Boxed slider</a>
              </li>
              <li>
                <a href="demo-shop-1-category-banner-boxed-image.html">Boxed Image</a>
              </li>
              <li>
                <a href="demo-shop-1-category-banner-fullwidth.html">Fullwidth</a>
              </li>
            </ul>
          </li>
          <li>
            <span class="mmenu-toggle"></span>
            <a href="#">Product Details</a>
            <ul>
              <li>
                <a href="demo-shop-1-product-details.html">Product Details 1</a>
              </li>
              <li>
                <a href="demo-shop-1-product-details2.html">Product Details 2</a>
              </li>
              <li>
                <a href="demo-shop-1-product-details3.html">Product Details 3</a>
              </li>
              <li>
                <a href="demo-shop-1-product-details4.html">Product Details 4</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="demo-shop-1-cart.html">Shopping Cart</a>
          </li>
          <li>
            <a href="demo-shop-1-checkout.html">Checkout</a>
          </li>
          <li>
            <span class="mmenu-toggle"></span>
            <a href="#">Loign &amp; Register</a>
            <ul>
              <li>
                <a href="demo-shop-1-login.html">Login</a>
              </li>
              <li>
                <a href="demo-shop-1-register.html">Register</a>
              </li>
            </ul>
          </li>
          <li>
            <span class="mmenu-toggle"></span>
            <a href="#">Dashboard</a>
            <ul>
              <li>
                <a href="demo-shop-1-dashboard.html">Dashboard</a>
              </li>
              <li>
                <a href="demo-shop-1-myaccount.html">My Account</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="demo-shop-1-about-us.html">About Us</a>
      </li>
      <li>
        <span class="mmenu-toggle"></span>
        <a href="#">Blog</a>
        <ul>
          <li><a href="demo-shop-1-blog.html">Blog</a></li>
          <li><a href="demo-shop-1-blog-post.html">Blog Post</a></li>
        </ul>
      </li>
      <li>
        <a href="demo-shop-1-contact-us.html">Contact Us</a>
      </li>
      <li>
        <a href="#">Buy Porto!</a>
      </li>
    </ul>
  </div>
</div>

<div id="mobile-menu-overlay"></div>

<div role="main" class="main">
  
<div class="slider-container rev_slider_wrapper" style="height: 100vh;">
  <div id="revolutionSlider" class="slider rev_slider manual">
    <ul>
      <li data-transition="fade">
        <img src="../img/demos/shop/slides/shop1/slide1.jpg"  
          alt="slide bg"
          data-bgposition="center center" 
          data-bgfit="cover" 
          data-bgrepeat="no-repeat"
          class="rev-slidebg">

        <div class="tp-caption"
          data-x="177"
          data-y="188"
          data-start="1000"
          data-transform_in="x:[-300%];opacity:0;s:500;"><img src="../img/slides/slide-title-border.png" alt="Border"></div>

        <div class="tp-caption"
          data-x="227"
          data-y="180"
          data-start="500"
          data-transform_in="y:[-300%];opacity:0;s:500;" style="font-size: 26px; line-height:1; font-weight:300; color: #fff;">DO YOU NEED A NEW</div>

        <div class="tp-caption"
          data-x="494"
          data-y="188"
          data-start="1000"
          data-transform_in="x:[300%];opacity:0;s:500;"><img src="../img/slides/slide-title-border.png" alt="Border"></div>

        <div class="tp-caption"
          data-x="82"
          data-y="214"
          data-start="1500"
          data-whitespace="nowrap"						 
          data-transform_in="y:[100%];s:500;"
          data-transform_out="opacity:0;s:500;"
          data-mask_in="x:0px;y:0px;" style="font-size: 79px; line-height:1; font-weight:800; color: #fff;">eCOMMERCE?</div>

        <div class="tp-caption"
          data-x="165"
          data-y="310"
          data-start="2000"
          data-transform_in="y:[100%];opacity:0;s:500;" style="font-size: 23px; line-height:1; font-weight:300; color: #fff;">Check out our options and features.</div>
      </li>
      <li data-transition="fade">
        <img src="../img/demos/shop/slides/shop1/slide2.jpg"  
          alt="slide bg"
          data-bgposition="center center" 
          data-bgfit="cover" 
          data-bgrepeat="no-repeat"
          class="rev-slidebg">

        <div class="tp-caption"
        data-x="480"
        data-y="180"
        data-start="500"
        data-whitespace="nowrap"						 
        data-transform_in="y:[100%];s:500;"
        data-transform_out="opacity:0;s:500;"
        style="z-index: 5; font-size: 26px; font-weight:300; line-height:1.5; color: #fff;"
        data-mask_in="x:0px;y:0px;">up to <span style="font-weight: 600;">70%</span> off!</div>

        <div class="tp-caption"
          data-x="475"
          data-y="214"
          data-start="900"
          data-whitespace="nowrap"						 
          data-transform_in="y:[100%];s:500;"
          data-transform_out="opacity:0;s:500;"
          style="z-index: 5; font-size: 82px; text-transform: uppercase; font-weight:600; line-height:1;color: #fff;"
          data-mask_in="x:0px;y:0px;">Huge <span style="font-weight: 800;">Sale</span></div>

        <div class="tp-caption tp-resizeme"
          data-x="480"
          data-y="308"
          data-start="1300"
          style="z-index: 5; font-size: 18px; font-weight: 600; line-height:1;color: #fff;"
          data-transform_in="y:[100%];opacity:0;s:500;">Fashion<span style="margin-left:13px;margin-right:13px;">-</span>Electronics<span style="margin-left:13px;margin-right:13px;">-</span>Gifts<span style="margin-left:13px;margin-right:13px;">-</span>Music<span style="margin-left:13px;margin-right:13px;">-</span>Sports</div>
        
        <div class="tp-caption tp-resizeme"
          data-x="784"
          data-y="350"
          data-start="1800"
          style="z-index: 5; font-size: 16px; font-weight: 300; line-height:1;"
          data-transform_in="y:[100%];opacity:0;s:500;"><a href="#" class="btn btn-default" style="border:none; font-weight: 600; padding-top: 10px; padding-bottom:10px;">SHOP NOW</a></div>
      </li>
      <li data-transition="fade">
        <img src="../img/demos/shop/slides/shop1/slide3.jpg"  
          alt="slide bg"
          data-bgposition="center center" 
          data-bgfit="cover" 
          data-bgrepeat="no-repeat"
          class="rev-slidebg">

        <div class="tp-caption"
        data-x="right" data-hoffset="330"
        data-y="180"
        data-start="500"
        data-whitespace="nowrap"						 
        data-transform_in="y:[100%];s:500;"
        data-transform_out="opacity:0;s:500;"
        style="z-index: 5; font-size: 26px; font-weight:300; line-height:1; color: #fff;"
        data-mask_in="x:0px;y:0px;">It's time to feel</div>

        <div class="tp-caption"
          data-x="right" data-hoffset="330"
          data-y="214"
          data-start="900"
          data-whitespace="nowrap"						 
          data-transform_in="y:[100%];s:500;"
          data-transform_out="opacity:0;s:500;"
          style="z-index: 5; font-size: 82px; text-transform: uppercase; font-weight:600; line-height:1;color: #fff;"
          data-mask_in="x:0px;y:0px;">The <span style="font-weight: 800;">Power</span></div>
        
        <div class="tp-caption tp-resizeme"
          data-x="right" data-hoffset="330"
          data-y="308"
          data-start="1300"
          style="z-index: 5; font-size: 16px; font-weight: 300; line-height:1;"
          data-transform_in="y:[100%];opacity:0;s:500;"><a href="#" class="btn btn-default" style="border:none; font-weight: 600; padding-top: 10px; padding-bottom:10px;">SHOP NOW</a></div>
      </li>
    </ul>
  </div>
</div>